@media only screen and (max-width: 768px) {
  .contentBackground {
    padding: 1.8rem 1.5rem;
  }

  main {
    flex-direction: column;
    padding: 0rem;
    margin: 0 1rem 30% 1rem;
    width: 90%;
    height: auto;
    #sidebar {
      background-image: url("../images/bg-sidebar-mobile.svg");
      position: absolute;
      flex-direction: row;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 25%;
      z-index: -2;
      justify-content: space-evenly;
      padding: 3rem 3rem;
      > div {
        #stepOneNum,
        #stepTwoNum,
        #stepThreeNum,
        #stepFourNum {
          width: 2.5rem;
          height: 2.5rem;
        }
        #stepContent {
          display: none;
        }
      }
    }
    .fullContent {
      padding: 0;
      width: auto;
      #plansInfos {
        #plansInfosContent {
          #plans {
            flex-direction: column;
            margin-top: 0;
            #arcade,
            #advanced,
            #pro {
              width: 100%;
              display: flex;
              .planContent {
                margin-top: 0;
                .freeMonths {
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      }
      #finishingUpInfos {
        #finishingUpInfosContent {
          padding: 2.5rem 1.5rem 1.2rem;
        }
      }
      #thankYou {
        padding: 3rem 0;
        #thankYouContent {
          .description {
            width: 340px;
          }
        }
      }
      #buttons {
        display: none;
      }
    }
    #mobileButtons {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 1rem 5%;
      margin-top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: var(--font-weight-500);
      background-color: var(--neutral-white);
      .button {
        border: none;
        border-radius: 5px;
        outline: none;
        font-weight: var(--font-weight-700);
        padding: 0.8rem 1rem;
        cursor: pointer;
      }
      .goBack {
        background-color: var(--neutral-white);
        color: var(--neutral-cool-gray);
      }
      .nextStep {
        background-color: var(--primary-marine-blue);
        color: var(--neutral-alabaster);
      }
      .confirmStep {
        background-color: var(--primary-purplish-blue);
        color: var(--neutral-alabaster);
      }
    }
  }
}
