@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root{
// Primary Colors
--primary-marine-blue: hsl(213, 96%, 18%);
--primary-purplish-blue: hsl(243, 100%, 62%);
--primary-pastel-blue: hsl(228, 100%, 84%);
--primary-light-blue: hsl(206, 94%, 87%);
--primary-strawberry-red: hsl(354, 84%, 57%);
// Neutral Colors
--neutral-cool-gray: hsl(231, 11%, 63%);
--neutral-light-gray: hsl(229, 24%, 87%);
--neutral-magnolia: hsl(217, 100%, 97%);
--neutral-alabaster: hsl(231, 100%, 99%);
--neutral-white: hsl(0, 0%, 100%);
// Font Weight
--font-weight-400: 400;
--font-weight-500: 500;
--font-weight-700: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: var(--font-weight-400);
}

main{
  min-height: 100vh;
  #sidebar{
    background-image: url("../images/bg-sidebar-mobile.svg");
    background-size: cover;
    min-height: 25vh;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 5rem;
    #stepOne,#stepTwo,#stepThree,#stepFour{
        display: flex;
      #stepOneNum, 
      #stepTwoNum,
      #stepThreeNum,
      #stepFourNum{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var(--neutral-alabaster);
        border: 2px solid var(--neutral-alabaster);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        font-weight: 500;
      }
      .active{
        background-color: var(--primary-light-blue) !important;
        color: var(--primary-marine-blue) !important;
        border: none !important;
      }
      #stepContent{
        display: none;
      }
    }
  }
  #personalInfo{
    min-height: 75vh;
    background-color: var(--primary-light-blue);
  }
}